<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thermopads</title>
        <link rel="stylesheet" type="text/css" href="/styles/form.css" />
        <script defer src="/form.js"></script>
        <script></script>
    </head>
    <body>
        <div id="header"></div>
        <div id="content">
            <div id="heading"></div>
            <div id="fields">
                <div>
                    <img src="" alt="">
                </div>
                <form action="/report" method="post">
                    <div class="field">
                        <label for="tracerModel">Tracer Moder:</label>
                        <select id="tracerModel" name="tracer_model">
                            <option value="none">--NONE--</option>
                            <option value="HTT30">HTT30</option>
                            <option value="STF15">STF15</option>
                            <option value="STF25">STF25</option>
                            <option value="STF33">STF33</option>
                            <option value="STP15">STP15</option>
                            <option value="STP30">STP30</option>
                            <option value="STP45">STP45</option>
                            <option value="STP60">STP60</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="lineSize">Line Size(Inches):</label>
                        <select id="lineSize" name="line_size">
                            <option value="none">--NONE--</option>
                            <option value="0.5">0.5</option>
                            <option value="0.8">0.8</option>
                            <option value="1.0">1.0</option>
                            <option value="1.5">1.5</option>
                            <option value="2.0">2.0</option>
                            <option value="3.0">3.0</option>
                            <option value="4.0">4.0</option>
                            <option value="6.0">6.0</option>
                            <option value="8.0">8.0</option>
                            <option value="10.0">10.0</option>
                            <option value="12.0">16.0</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="lineOD">Line OD(mm):</label>
                        <input type="text" id="lineOD" name="line_od" />
                    </div>
                    <br>
                    <div class="field">
                        <label for="pipeLength">Pipe Length(m):</label>
                        <input type="text" id="pipeLength" name="pipe_length" />
                    </div>
                    <br>
                    <div class="field">
                        <label for="insulationThickness"
                            >Insulation Thickness(mm):</label
                        >
                        <select
                            id="insulationThickness"
                            name="insulation_thickness"
                        >
                            <option value="none">--NONE--</option>
                            <option value="50.0">50.0</option>
                            <option value="30.0">30.0</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="maintainenceTemp"
                            >Maintainence Temperature(°C):</label
                        >
                        <select id="maintainenceTemp" name="maintainence_temp">
                            <option value="none">--NONE--</option>
                            <option value="5">5</option>
                            <option value="95">95</option>
                            <option value="110">110</option>
                            <option value="120">120</option>
                            <option value="125">125</option>
                            <option value="135">135</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="operationalTemp"
                            >Operational Temperature(°C):</label
                        >
                        <input id="operationalTemp" name="operational_temp"></input>
                    </div>
                    <br>
                    <div class="field">
                        <label for="designTemp"
                            >Design Temperature(°C):</label
                        >
                        <input id="designTemp" name="design_temp"></input>
                    </div>
                    <br>
                    <div class="field">
                        <label for="valveCount"
                            >No. of Valves: </label
                        >
                        <input id="valveCount" name="valve_count"></input>
                    </div>
                    <br>
                    <div class="field">
                        <label for="flangeCount"
                            >No. of Flanges:</label
                        >
                        <input id="flangeCount" name="flange_count"></input>
                    </div>
                    <br>
                    <div class="field">
                        <label for="supportCount"
                            >No. of Supports:</label
                        >
                        <input id="supportCount" name="support_count"></input>
                    </div>
                    <br>
                    <div class="field">
                        <label for="pumpCount"
                            >No. of Pumps:</label
                        >
                        <select id="pumpCount" name="pump_count">
                            <option value="0">0</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="minAmb"
                            >Minimum Ambiant Temperature(°C):</label
                        >
                        <select id="minAmb" name="min_amb">
                            <option value="-36.0">-36.0</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="maxAmb"
                            >Minimum Ambiant Temperature(°C):</label
                        >
                        <select id="maxAmb" name="max_amb">
                            <option value="45.0">45.0</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="designMargin"
                            >Design Margin:</label
                        >
                        <select id="designMargin" name="design_margin">
                            <option value="10">10</option>
                        </select>
                    </div>
                    <br>
                    <div class="field">
                        <label for="grouping"
                            >Grouping:</label
                        >
                        <input type="text" id="grouping" name="grouping"></input>
                    </div>
                    <button id="generate-report" onclick="logValues()">
                        Generate Report
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
