<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Report</title>
        <link rel="stylesheet" type="text/css" href="/styles/form.css" />
        <script
            defer
            src="/computation.js"
            something1="<%= something1Value %>"
            something2="<%= something2Value %>"
        ></script>
    </head>
    <body>
        <h1>Report Page</h1>
        <p>Input 1: <%= something1Value %></p>
        <p>Input 2: <%= something2Value %></p>
    </body>
</html>
